<p class="footer">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <img src="assets/images/logo.png" width="auto" height="40px">
      </button>
      <a mat-button href="/">
        &copy; Copyright 2020 - AVISTEC. All Rights Reserved.
      </a>
      <span class="spacer"></span>
      <a mat-button href="">
        Follow us on:
      </a>
      <a mat-mini-fab color="#fff" href="https://www.linkedin.com/" target="_blank">
        <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="linkedin"></mat-icon>
      </a>
      <a mat-mini-fab color="#fff" href="https://twitter.com/home" target="_blank">
        <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="twitter"></mat-icon>
      </a>      
    </mat-toolbar-row>
  </mat-toolbar>
</p>