<mat-nav-list>
    <a href="https://goo.gl/maps/wMdidsxn5Vh3Co1p7" mat-list-item target="_blank">
      <mat-icon svgIcon="gmaps" aria-hidden="false" aria-label="gmaps"></mat-icon>
      <span mat-line>Office Address: Choutuppal, Telangana - 508252.</span>
      <span mat-line>View on Google Maps</span>
    </a>
  
    <a href="mailto:vinod.karantothu@live.in" mat-list-item>
      <mat-icon svgIcon="email" aria-hidden="false" aria-label="email"></mat-icon>
      <span mat-line>E-mail</span>
      <span mat-line>Click to send e-mail</span>
    </a>
  
    <a href="https://wa.me/919000700297?text=I'm%20interested%20in%20your%20company%20products" mat-list-item target="_blank">
      <mat-icon svgIcon="whatsapp" aria-hidden="false" aria-label="whatsapp"></mat-icon>
      <span mat-line>WhatsApp</span>
      <span mat-line>Send a WhatsApp Message</span>
    </a>

    <!-- <a href="https://hangouts.google.com/" mat-list-item (click)="openLink($event)">
      <span mat-line>Google Hangouts</span>
      <span mat-line>Show to your coworkers</span>
    </a> -->
</mat-nav-list>