<p class="header">
  <mat-toolbar>
    <button mat-icon-button routerLink="/" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon></mat-icon>
    </button>
    <a mat-button href="/">
      <img src="assets/images/AVISTEC-1200x400.png" width="auto" height="40px">
    </a>
    <span class="spacer"></span>
    <div class="example-button-row">
      <button mat-button color="#424242" routerLink="/">Home</button>
      <button mat-button color="#424242" routerLink="/">About Us</button>
      <button mat-button color="#424242" [matMenuTriggerFor]="belowMenu">Products</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/">IoT</button>
        <button mat-menu-item routerLink="/">Software</button>
      </mat-menu>
      <button mat-button color="#424242" routerLink="/">Blog</button>
      <button mat-button color="#424242" (click)="openBottomSheet()">Contact</button>
    </div>
  </mat-toolbar>
</p>