<p class="header">
  <mat-toolbar>
    <button *ngIf="!mobile" mat-icon-button routerLink="/" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon></mat-icon>
    </button>
    <!---Mobile menu-->
    <button *ngIf="mobile" mat-icon-button [matMenuTriggerFor]="mobileMenu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon >menu</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu" yPosition="below">
      <button mat-menu-item routerLink="/">Home</button>
      <button mat-menu-item routerLink="/">About Us</button>
      <button mat-menu-item [matMenuTriggerFor]="belowMenu">Products</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/">IoT</button>
        <button mat-menu-item routerLink="/">Software</button>
      </mat-menu>
      <button mat-menu-item routerLink="/">Blog</button>
      <button mat-menu-item (click)="openBottomSheet()">Contact</button>
      <button mat-menu-item [matMenuTriggerFor]="socialMenu">Follow Us</button>
      <mat-menu #socialMenu="matMenu" yPosition="below">
        <a mat-menu-item href="https://www.linkedin.com/" target="_blank">
          <mat-icon svgIcon="linkedin" aria-hidden="false" aria-label="linkedin"></mat-icon>
        </a>
        <a mat-menu-item href="https://twitter.com/home" target="_blank">
          <mat-icon svgIcon="twitter" aria-hidden="false" aria-label="twitter"></mat-icon>
        </a>
      </mat-menu>
    </mat-menu>
    <!---end of Mobile menu-->
    <a mat-button href="/">
      <img src="assets/images/AVISTEC-1200x400.png" width="auto" height="40px">
    </a>
    <span class="spacer"></span>
    <div *ngIf="!mobile" class="example-button-row">
      <button mat-button color="#424242" routerLink="/">Home</button>
      <button mat-button color="#424242" routerLink="/">About Us</button>
      <button mat-button color="#424242" [matMenuTriggerFor]="belowMenu">Products</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/">IoT</button>
        <button mat-menu-item routerLink="/">Software</button>
      </mat-menu>
      <button mat-button color="#424242" routerLink="/">Blog</button>
      <button mat-button color="#424242" (click)="openBottomSheet()">Contact</button>
    </div>
  </mat-toolbar>
</p>